<section class="jumbotron">
    <h1 class="display-4">Interface Formateur - Liste des étudiants</h1>
    <hr class="my-4">

    <div class="table-responsive">
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nom</th>
                    <!-- <th scope="col">Prénom</th> -->
                    <th scope="col">Email</th>
                    <th scope="col">Mot de passe</th>
                    <th scope="col">Téléphone</th>
                    <th scope="col">Classe</th>
                </tr>
            </thead>
            <tbody>
                <!-- <tr *ngFor="let student of students; let i = index">
                    <td>{{i + 1}}</td>
                    <td><a href="#">{{student.name}}</a></td>
                    <td>{{student.email}}</td>
                    <td>{{student.password}}</td>
                    <td>{{student.telephone}}</td>
                    <td>{{student.classe}}</td>
                </tr> -->
                <tr>
                    <td>1</td>
                    <td><a href="#">Jega</a></td>
                    <td>jega@mail</td>
                    <td>lol</td>
                    <td>01-02-03-04-05</td>
                    <td>Développement Web</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td><a href="#">Emilie</a></td>
                    <td>emilie@mail</td>
                    <td>lol2</td>
                    <td>01-02-03-04-05</td>
                    <td>Développement Web</td>
                </tr>
        
            </tbody>
        </table>
    </div>

    
    
    
</section>
