<!-- Button trigger modal -->
<button type="button" class="btn btn-success btn-block btn-lg" data-toggle="modal" data-target="#loginModal">
    Se Connecter
</button>

<!-- Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel">Se Connecter</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                
                <form (submit)="login()">

                    <!-- AUTRE PROPOSITION DE CHOIX FORMATEUR/APPRENANT -->
                    <!-- <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                        <label class="form-check-label" for="inlineRadio1">Formateur</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                        <label class="form-check-label" for="inlineRadio2">Apprenant</label>
                    </div> -->

                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" name="Student" [(ngModel)]="user.isStudent">
                        <label class="form-check-label" for="Check1">Je suis un élève</label>
                    </div>

                    <div class="form-group">
                        <label for="inputEmail1">Email</label>
                        <input type="email" class="form-control" id="inputEmail1" aria-describedby="emailHelp"
                            placeholder="Entrez une adresse email" name="email" [(ngModel)]="user.email" name="password" [(ngModel)]="user.password">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword1">Mot de passe</label>
                        <input type="password" class="form-control" id="inputPassword1" placeholder="Entrez un mot de passe">
                    </div>
                    <div class="form-group" *ngIf="user.isStudent">
                        <label for="inputClass">Classe</label>
                        <input type="text" class="form-control" id="inputClass" name="classe" [(ngModel)]="user.classe">
                    </div>
                    
                    <button type="submit" class="btn btn-primary">Valider</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    
                </form>   
            </div>
        </div>
    </div>
</div>