<header>
  <nav class="navbar navbar-dark bg-primary">
    <a class="navbar-brand" href="#">
      École de Développement Web
    </a>

    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link active text-white" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="#">Dashboard</a>
      </li>
    </ul>

    <div>
      <button type="button" class="btn btn-success nav-button" data-toggle="modal" data-target="#loginModal">Se Connecter</button>
      <button type="button" class="btn btn-outline-success bg-light nav-button" data-toggle="modal" data-target="#registerModal">Inscription</button>
    </div>
    
  </nav>
</header>
<main>
      <app-home></app-home>
  
      <app-dashboard></app-dashboard>

      <app-studentboard></app-studentboard>
      
</main>


<router-outlet></router-outlet>
