<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Student Dashboard</h1>
        <p class="lead">Bienvenue sur le portail de connection de l'École de Développement Web</p>
        <div class="home-wrapper">
            <app-login></app-login>
            <app-register></app-register>
        </div>
    </div>
</div>