<!-- Button trigger modal -->
<button type="button" class="btn btn-outline-success btn-block btn-lg" data-toggle="modal" data-target="#registerModal">
    Inscription
</button>

<!-- Modal -->
<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Inscription</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form (submit)="register()">

                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" name="isStudent" [(ngModel)]="user.isStudent">
                        <label class="form-check-label" for="exampleCheck1">Je suis un élève</label>
                    </div>
                    <div class="form-group">
                        <label for="inputLastname">Nom</label>
                        <input type="text" class="form-control" id="inputLastname" placeholder="Entrez un nom" name="name"
                            [(ngModel)]="user.name" required>
                    </div>

                    <!-- CHAMPS NOM PRENOM -->
                    <!-- <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputLastname">Nom</label>
                            <input type="text" class="form-control" id="inputLastname" placeholder="Entrez un nom" name="name" [(ngModel)]="user.name" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputFirstname">Prénom</label>
                            <input type="email" class="form-control" id="inputFirstname" placeholder="Entrez un prénom" required>
                        </div>
                    </div> -->

                    <div class="form-group">
                        <label for="inputEmail4">Email</label>
                        <input type="email" class="form-control" id="inputEmail4" placeholder="Email" name="email"  [(ngModel)]="user.email" required>
                    </div>
                    <div class="form-group">
                        <label for="inputPhone">Téléphone</label>
                        <input type="tel" class="form-control" id="inputPhone" placeholder="Entrez un numéro de téléphone" name="telephone" pattern="[0-9]{2}-[0-9]{2}-[0-9]{2}-[0-9]{2}-[0-9]{2}" [(ngModel)]="user.telephone">
                        <small id="phoneHelp" class="form-text text-muted">Format: 0X-XX-XX-XX-XX</small>
                    </div>
                    <div class="form-group" *ngIf="user.isStudent">
                        <label for="inputTrainingprogram">Classe</label>
                        <input type="text" class="form-control" id="inputTrainingprogram" placeholder="Indiquez votre formation" name="classe"  [(ngModel)]="user.classe">
                    </div>
                    <div class="form-group">
                        <label for="inputPassword">Mot de passe</label>
                        <input type="password" class="form-control" id="inputPassword" placeholder="Entrez un mot de passe" name="password"  [(ngModel)]="user.password" required>
                    </div>

                    <!-- CONFIRMATION MOT DE PASSE -->
                    <!-- <div class="form-group">
                        <label for="inputPasswordconfirm">Confirmer votre mot de passe</label>
                        <input type="password" class="form-control" id="inputPasswordconfirm" placeholder="Entrez un mot de passe" name="passwordconfirm"  [(ngModel)]="user.passwordconfirm" required>
                    </div> -->
                    
                    <button type="submit" class="btn btn-primary">Valider</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                </form>
            </div>
        </div>
    </div>
</div>


