.form-card{
    width: 400px;
    margin: 0 auto;
    background-color: #CDCDC0;
}
.form-header{
     display: flex;
     justify-content: center;
}
.form-container{
    display: flex;
    flex-direction: column;
}