<p>studentboard works!</p>
<section class="jumbotron">
    <h1 class="display-4">Interface Formateur - Fiche individuelle Etudiant</h1>
    <h3>Nom de l'étudiant : XXXX</h3>
    <hr class="my-4">
    <div class="accordion" id="accordionStudent">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                        aria-expanded="true" aria-controls="collapseOne">
                        Projets
                    </button>
                </h2>
            </div>
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionStudent">
                <div class="card-body">
                    <p>Les informations sur les projets (notes et commentaires) sont indiqués ci-dessous.</p>
                    
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#projectModal">
                        Créer un projet
                    </button>
                    
                    <!-- Modal -->
                    <div class="modal fade" id="projectModal" tabindex="-1" role="dialog" aria-labelledby="projectModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="projectModalLabel">Créer un projet</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">                                   
                                    <form (submit)="createProjet()">
                                        <div class="form-group">
                                            <label for="projectNameInput">Nom du projet</label>
                                            <input type="text" class="form-control" id="projectNameInput" placeholder="Entrez le nom du projet" name="name" [(ngModel)]="projet.name">
                                        </div>
                                        <div class="form-group">
                                            <label for="projectMarkInput">Note</label>
                                            <input type="number" class="form-control" id="projectMarkInput" min="0" max="20" name="note" [(ngModel)]="projet.note">
                                        </div>                                       
                                        <div class="form-group">
                                            <label for="projectcomment">Commentaires</label>
                                            <textarea class="form-control" id="projectcomment" placeholder="Entrez vos commentaires" aria-label="With textarea" name="comment" [(ngModel)]="projet.comment"></textarea>
                                        </div>
                                        <button type="submit" class="btn btn-primary">Valider</button>
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                                    </form>
                                </div>
                               
                            </div>
                        </div>
                    </div>

                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Nom du projet</th>
                                    <th scope="col">Note</th>
                                    <th scope="col">Commentaire</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- <tr *ngFor="let projet of projets; let i = index">
                                    <th scope="row">{{ i+1 }}</th>
                                    <td>{{projet.name}}</td>
                                    <td>{{projet.note}}</td>
                                    <td>{{projet.comment}}</td>
                                </tr> -->

                                <tr>
                                    <th scope="row">1</th>
                                    <td>Group Generator</td>
                                    <td>12</td>
                                    <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>Student Dashboard</td>
                                    <td>12</td>
                                    <td>No comment</td>
                                </tr>


                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo"
                        aria-expanded="false" aria-controls="collapseTwo">
                        Absences et Retard
                    </button>
                </h2>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionStudent">
                <div class="card-body">
                    <p>Les absences et retards de l'étudiant sont indiqués dans le tableau ci-dessous.</p>
                                        
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#delayModal">
                        Déclarer une absence ou un retard
                    </button>
                    
                    <!-- Modal -->
                    <div class="modal fade" id="delayModal" tabindex="-1" role="dialog" aria-labelledby="delayModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="delayModalLabel">Déclarer une absence ou un retard</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                            <label class="form-check-label" for="inlineRadio1">Absence</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                            <label class="form-check-label" for="inlineRadio2">Retard</label>
                                        </div>
                                        <div class="form-group">
                                            <label for="dateInput">Date</label>
                                            <input type="date" class="form-control" name="bday" id="dateInput">
                                        </div>                                    
                                        <div class="form-group">
                                            <label for="delayTime">Durée du retard</label>
                                            <input type="time" class="form-control" id="delayTime" name="delaytime">
                                            <small id="delayTime" class="form-text text-muted">Heures : Minutes</small>
                                        </div>
                                        <button type="submit" class="btn btn-primary">Valider</button>
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-dark">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Absence/Retard</th>
                                <th scope="col">Date</th>
                                <th scope="col">Durée du retard</th>
                            </tr>
                        </thead>
                        <tbody>

                            <!-- <tr *ngFor="let delay of delays; let i = index">
                                <th scope="row">{{ i+1 }}</th>
                                <td>{{}}</td>
                                <td>{{}}</td>
                                <td>{{}}</td>
                            </tr> -->

                            <!-- Données en example -->
                            <tr>
                                <th scope="row">1</th>
                                <td>Absence</td>
                                <td>05/06/2019</td>
                                <td>X</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Retard</td>
                                <td>05/07/2019</td>
                                <td>30 minutes</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Retard</td>
                                <td>05/08/2019</td>
                                <td>1 heure</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>