<mat-card class="form-card">
    <mat-card-header class="form-header">
        <mat-card-title>Se Connecter</mat-card-title>
        <mat-card-subtitle>Professeurs et étudiants</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="form-container">
        <form class="radio-form">
            <mat-radio-group aria-label="Select an option" class="radio-elements">
                <mat-radio-button value="1">Professeur</mat-radio-button>
                <mat-radio-button value="2">Étudiant</mat-radio-button>
            </mat-radio-group>
        </form>
        <mat-form-field>
            <input matInput placeholder="Entrez un email">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Entrez un mot de passe">
        </mat-form-field>
        
    </mat-card-content>
    <mat-card-actions align="end">
        <button mat-button>VALIDER</button>
    </mat-card-actions>

</mat-card>

