.form-card{
    width: 400px;
    margin: 0 auto;
    background-color: #CDCDC0;
}
.form-header{
     display: flex;
     justify-content: center;
     margin-bottom:20px;
}
.form-container{
    display: flex;
    flex-direction: column;
}
.radio-form{
    margin-bottom: 30px;
}
.radio-elements{
    display: flex;
    justify-content: space-around;
}